In [2]:
# Import libraries
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.service import Service
from bs4 import BeautifulSoup
import time

In [11]:
driver_path = '/usr/local/bin/chromedriver'
service = Service(driver_path)
driver = webdriver.Chrome(service=Service(driver_path))

In [13]:
# Get URL
page_url = requests.get("https://en.wikipedia.org/wiki/Key_events_of_the_20th_century")

In [14]:
# Create soup and get title
soup = BeautifulSoup(page_url.text, 'html.parser')
print(soup.title)

<title>Key events of the 20th century - Wikipedia</title>

In [16]:
text = soup.get_text()
text = text.encode ('UTF-8')

In [17]:
with open('20th_Century_Wiki.txt', 'wb') as f:
       f.write(text)

# Using requests with BeutifulSoup

In [18]:
# Get the page’s contents
page_url = "https://en.wikipedia.org/wiki/Alice%27s_Adventures_in_Wonderland"
driver.get(page_url)

In [19]:
# Create a collection of the characters
characters_elems = driver.find_elements(by = By.CLASS_NAME, value = 'div-col')

In [21]:
characters_elems[0].text

'Alice\nThe White Rabbit\nThe Mouse\nThe Dodo\nThe Lory\nThe Eaglet\nThe Duck\nPat\nBill the Lizard\nPuppy\nThe Caterpillar\nThe Duchess\nThe Cheshire Cat\nThe Hatter\nThe March Hare\nThe Dormouse\nThe Queen of Hearts\nThe King of Hearts\nThe Knave of Hearts\nThe Gryphon\nThe Mock Turtle'

In [24]:
list_char = characters_elems[0].text.split("\n")

In [78]:
# first 10 characters
list_char[0:10]

['Alice',
 'The White Rabbit',
 'The Mouse',
 'The Dodo',
 'The Lory',
 'The Eaglet',
 'The Duck',
 'Pat',
 'Bill the Lizard',
 'Puppy']

In [26]:
# Put the characters into a dataframe
df = pd.DataFrame(list_char, columns = ["character"])

In [79]:
# first 10 character
df.head(10)

          character
0             Alice
1  The White Rabbit
2         The Mouse
3          The Dodo
4          The Lory
5        The Eaglet
6          The Duck
7               Pat
8   Bill the Lizard
9             Puppy

In [80]:
# Get URL
page_url =  requests.get("https://en.wikipedia.org/wiki/Alice%27s_Adventures_in_Wonderland")

In [81]:
# Create soup and get title
soup = BeautifulSoup(page_url.text, 'html.parser')
print(soup.title)

<title>Alice's Adventures in Wonderland - Wikipedia</title>

In [82]:
text = soup.get_text()
text = text.encode ('utf-8')

In [83]:
with open('Alice_article_Wiki.txt', 'wb') as f:
       f.write(text)

# Get Country Data

In [31]:
# Get the page’s contents
page_url = "https://simple.m.wikipedia.org/wiki/List_of_countries"
driver.get(page_url)

In [75]:
# Wait for the page to load fully
time.sleep(5)

In [34]:
# Create a collection of the characters
country_elems = driver.find_elements(by = By.TAG_NAME, value = 'P')

In [72]:
# all countries are in paragraph 2 - 30
country_list = []
for i in range(2,31):
    country_list.append(country_elems[i].text)

In [73]:
# split the country list and remove the leading and trailing spaces
clean_country = ['country']
for c in country_list:
    new_c = c.split('-')
    for new in new_c:
        clean_country.append(new.strip())

In [74]:
# # Write the cleaned country names to a CSV file
with open('country_list.csv','w')as file:
    for country in clean_country:
        file.write(f"{country}\n")

In [76]:
# Close the WebDriver
driver.quit()