In [2]:
# Import libraries

import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.service import Service
from bs4 import BeautifulSoup

In [11]:
driver_path = '/usr/local/bin/chromedriver'
service = Service(driver_path)
driver = webdriver.Chrome(service=Service(driver_path))

In [13]:
# Get URL

page_url = requests.get("https://en.wikipedia.org/wiki/Key_events_of_the_20th_century")

In [14]:
# Create soup and get title

soup = BeautifulSoup(page_url.text, 'html.parser')
print(soup.title)

<title>Key events of the 20th century - Wikipedia</title>

In [16]:
text = soup.get_text()
text = text.encode ('UTF-8')

In [17]:
with open('20th_Century_Wiki.txt', 'wb') as f:
       f.write(text)

In [18]:
# Get the pageâ€™s contents

page_url = "https://en.wikipedia.org/wiki/Alice%27s_Adventures_in_Wonderland"
driver.get(page_url)

In [19]:
# Create a collection of the characters

characters_elems = driver.find_elements(by = By.CLASS_NAME, value = 'div-col')

In [21]:
characters_elems[0].text

'Alice\nThe White Rabbit\nThe Mouse\nThe Dodo\nThe Lory\nThe Eaglet\nThe Duck\nPat\nBill the Lizard\nPuppy\nThe Caterpillar\nThe Duchess\nThe Cheshire Cat\nThe Hatter\nThe March Hare\nThe Dormouse\nThe Queen of Hearts\nThe King of Hearts\nThe Knave of Hearts\nThe Gryphon\nThe Mock Turtle'

In [24]:
list_char = characters_elems[0].text.split("\n")

In [25]:
list_char

['Alice',
 'The White Rabbit',
 'The Mouse',
 'The Dodo',
 'The Lory',
 'The Eaglet',
 'The Duck',
 'Pat',
 'Bill the Lizard',
 'Puppy',
 'The Caterpillar',
 'The Duchess',
 'The Cheshire Cat',
 'The Hatter',
 'The March Hare',
 'The Dormouse',
 'The Queen of Hearts',
 'The King of Hearts',
 'The Knave of Hearts',
 'The Gryphon',
 'The Mock Turtle']

In [26]:
# Put the characters into a dataframe

df = pd.DataFrame(list_char, columns = ["character"])

In [27]:
df

              character
0                 Alice
1      The White Rabbit
2             The Mouse
3              The Dodo
4              The Lory
5            The Eaglet
6              The Duck
7                   Pat
8       Bill the Lizard
9                 Puppy
10      The Caterpillar
11          The Duchess
12     The Cheshire Cat
13           The Hatter
14       The March Hare
15         The Dormouse
16  The Queen of Hearts
17   The King of Hearts
18  The Knave of Hearts
19          The Gryphon
20      The Mock Turtle

In [29]:
# Get URL

page_url =  requests.get("https://en.wikipedia.org/wiki/Alice%27s_Adventures_in_Wonderland")

# Create soup and get title

soup = BeautifulSoup(page_url.text, 'html.parser')
print(soup.title)  

text = soup.get_text()

text = text.encode ('utf-8')

with open('Alice_article_Wiki.txt', 'wb') as f:
       f.write(text)

<title>Alice's Adventures in Wonderland - Wikipedia</title>